.tab-selector .tab-links {
	flex-grow: 0;
}

.app-content .img-grid-container {padding: 4vw}
.app-content .img-grid {
	grid-gap: 4vw;
	/* grid-template-columns: repeat(auto-fill	, minmax(265px, 1fr)); */
	/* grid-template-rows: masonry; */
}
.app-content .img-grid img {
	max-height: 360px;
}

.app-content .img-grid div.selected img {
	max-height: 70vh;
	max-width: 40vw;
}

.principles div {
	width: 30% !important;
}

.app-content .inputs input {
	width: 49.5%;
}